.lay-container {
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
    padding: 20px 0px;
}

.list-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: auto;
    margin-right: auto;
}

.card-body-grid-parent {
    margin-top: 8px;
    padding: 8px;
}

.list-wrapper {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}

.grid-item {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}

@media (min-width: 900px) {
    .list-wrapper {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 600px) {
    .list-wrapper {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .grid-item {
        flex-basis: 50%;
        -webkit-box-flex: 0;
        /* flex-grow: 0; */
        max-width: 50%;
    }
}

@media (min-width: 600px) {
    .grid-item {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}
