.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    position: relative;
    border-radius: 20px !important;
    padding: 5px;
    max-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
}

.card-content {
    padding: 8px 16px !important;
}

.logo-wrapper {
    display: flex;
    gap: 0.5rem;
}

.info-container {
    h3 {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 3px;
        color: #8b8b8b;
    }

    h2 {
        font-size: 14px;
        line-height: 1.5;
    }
}

.cards-sub-text {
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
}

.card-salary {
    font-size: 14px !important;
    font-family: Lexend !important;
    font-weight: 400 !important;
    margin: 8px 0 !important;
    color: rgb(77, 89, 106);
    line-height: 1.43;
}

.about-job-wrapper {
    height: 250px;
    overflow: hidden;
    mask-image: linear-gradient(
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
    );
}

.about-company {
    margin: 0px !important;
    font-family: Lexend !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    font-weight: 500 !important;
}

.view-job {
    text-align: center;
    margin-bottom: 0.5rem;
    position: relative;
    top: -20px;

    a {
        cursor: pointer;
        color: rgb(73, 67, 218);
        text-decoration: none;
        font-size: 14px !important;
        font-weight: 400 !important;
    }
}

.status-container {
    flex-grow: 1 !important;
    width: -webkit-fill-available !important;
    padding: 0 15px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
}

.apply-btn-wrapper {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    display: flex !important;
    gap: 0.5rem !important;
    width: 100% !important;
}

.apply-btn {
    width: 100% !important;
    background-color: rgb(85, 239, 196) !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 500 !important;
    padding: 8px 18px !important;
    text-transform: none !important;
    border-radius: 8px !important;
    margin: 5px 0 !important;

    display: inline-flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    position: relative !important;
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: transparent !important;
    outline: 0px !important;
    border: 0px !important;
    cursor: pointer !important;
    user-select: none !important;
    vertical-align: middle !important;
    appearance: none !important;
    text-decoration: none !important;
    font-family: Lexend !important;
    line-height: 1.75 !important;
    min-width: 64px !important;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    font-size: 16px !important;
}
