.jd-filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: transparent;
    background-color: #fff !important;

    div {
        margin: 2px 5px 2px 0 !important;
    }
}